.register-container {
  max-width: 320px;
  margin: 60px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

h2 {
  text-align: center;
}

input {
  width: 300px;
  margin-bottom: 12px;
  padding: 8px;
}

.action{
    display: flex;
}

button {
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.back-btn {
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.error {
  margin: 4px 0 8px;
  color: #d32f2f;
  font-size: 12px;
}