h2{
  text-align: center;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

input{
  width: 200px;
  margin-left: 150px;
}